 *{margin:0;padding:0;}
      body{
        -webkit-user-select: none;  
         -moz-user-select: none;    
         -ms-user-select: none;      
         user-select: none;
      }
      #board{
        margin:55px auto;
        height:800px;
        width:800px;
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/34/Swietenia_macrophylla_wood.jpg");
      }
      .cell{
        height:100px;
        width:100px;
        display: inline-block;
        float: left;
        font-size: 75px;
        color:black;
      }
      .row-type-1 .cell:nth-of-type(even){
        background-color:rgba(102,51,0,0.7);
      }
      .row-type-2 .cell:nth-of-type(odd){
        background-color:rgba(102,51,0,0.7);
      }
      .piece{
        margin-top:-3px;
        margin-left:15px;
        cursor:pointer;
      }
      .piece:hover{
        color:pink;
      }